.cart {
    color: #ffffff;
    font-size: 28px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.menu-link {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.menu-link:active {
    transform: scale(0.9);
    opacity: 0.7;
}



