.item {
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.item img {
    width: 240px;
    height: 150px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item h2 {
    font-size: 1.2rem;
    margin: 0;
    color: white;
}

.item h3 {
    font-size: 1.4rem;
    color: #ff6600;
    margin: 0;
}

.item a {
    margin-top: auto;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.item .menu-link {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 1rem;
    margin-right: -3px;
    display: flex;
    align-items: center;
    outline: none;
    user-select: none;
}

.item .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 0.8rem;
    min-width: 20px;
    text-align: center;
}

.item .details-button {
    margin-top: auto;
    display: inline-block;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffffff; /* Fondo en estado normal */
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    transition: background-color 0.3s;

    &:hover {
        background-color: #ff9900; /* Cambia el fondo al pasar el mouse */
    }

    font-size: 1rem;
    font-family: Arial, sans-serif;
}

.add-to-cart {
    margin-top: auto;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    transition: background-color 0.3s;

    &:hover {
        background-color: #ff9900;
    }
}
